name: Update preview branch

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/**"
  workflow_dispatch:

concurrency: update-preview-branch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: "main"
          path: "main"
      - uses: actions/checkout@v3
        with:
          ref: "preview"
          path: "preview"

      - name: Init git info
        run: |
          cd preview
          git status
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Update preview branch files
        run: |
          sudo rm -fr ./preview/markdown-pages/*

          mkdir -p ./preview/markdown-pages/en/tidb
          mkdir -p ./preview/markdown-pages/ja/tidb
          mkdir -p ./preview/markdown-pages/en/tidbcloud
          mkdir -p ./preview/markdown-pages/zh/tidb

          cp -rip ./main/markdown-pages/en/tidb/master ./preview/markdown-pages/en/tidb/master
          cp -rip ./main/markdown-pages/en/tidb/release-6.1 ./preview/markdown-pages/en/tidb/release-6.1
          cp -rip ./main/markdown-pages/en/tidbcloud ./preview/markdown-pages/en/

          cp -rip ./main/markdown-pages/zh/tidb/release-6.1 ./preview/markdown-pages/zh/tidb/release-6.1
          cp -rip ./main/markdown-pages/zh/tidb/master ./preview/markdown-pages/zh/tidb/master

          cp -rip ./main/markdown-pages/ja/tidb/release-6.1 ./preview/markdown-pages/ja/tidb/release-6.1
          cp -rip ./main/markdown-pages/ja/tidbcloud ./preview/markdown-pages/ja/

      - name: Git commit and push
        run: |
          cd preview
          git add markdown-pages
          git fetch
          git pull
          git commit -m "update MDs by main branch"
          git push
